<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit car</title>
</head>
<body>
<form action="#" th:action="@{/edit/{id}(id=${car.id})}" th:object="${car}" method="post">
    <label for="brand">Brand</label>
    <input type="text" th:field="*{brand}" id="email" placeholder="Brand">
    <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span>

    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="Model">
    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span>
    <input type="submit" value="Edit Car">

<!--    <label for="status">Status</label>-->
<!--&lt;!&ndash;    <input type="text" th:field="*{status}" id="status" placeholder="Status">&ndash;&gt;-->
<!--&lt;!&ndash;    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>&ndash;&gt;-->
<!--    <select name="status" th:field="*{status}">-->
<!--        <option th:each="status : ${T(com.frontbackend.thymeleaf.enums.model.CarStatus).values()}"-->
<!--                th:value="${status}" th:text="${status}"></option>-->
<!--    </select>-->
<!--    <input type="submit" value="Edit Car">-->
</body>
</html>